<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dawar.catchevent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CatchEvent"
        android:allowBackup="true"
        android:icon="@drawable/catchevent"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/catchevent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEvent"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventDetail"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GalleryActivity" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAlerts"
            android:label="@string/title_activity_add_alerts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AlertDetails" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UdbhavMainActivity" />
        <activity android:name=".LogInClasses.LogInActivity"></activity>
    </application>

</manifest>